pydantic
fastapi
uvicorn

reportlab
PyPDF2
cryptography
requests
python-pkcs11
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

alembic
mysql-connector-python
sqlalchemy

python-dotenv
pymysql

python-multipart
python-dotenv
fpdf
twilio
jinja2

aiosqlite 
